@model GamingStore.ViewModels.CreateEditItemViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>
<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Items", FormMethod.Post, null))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.Item.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Title)
                @Html.TextBoxFor(m => m.Item.Title, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Description)
                @Html.TextBoxFor(m => m.Item.Description, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Manufacturer)
                @Html.TextBoxFor(m => m.Item.Manufacturer, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Price)
                @Html.TextBoxFor(m => m.Item.Price, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Category)
                @Html.DropDownListFor(m => m.Item.Category, new SelectList(Model.Categories), null, new { @class = "form-control", @style="margin-left: auto;" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>}
    </div>
</div>

@*todo: what is that?*@
@*<form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Manufacturer" class="control-label"></label>
            <input asp-for="Manufacturer" class="form-control" />
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PropertiesList" class="control-label"></label>
            <input asp-for="PropertiesList" class="form-control" />
            <span asp-validation-for="PropertiesList" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
