@model GamingStore.ViewModels.Items.CreateEditItemViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>
<h4>Item</h4>
<hr />
<div class="column">
    @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new{ @class = "row" }))
    {
        <div class="col-5">

            <div class="form-group">
                @Html.HiddenFor(m => m.Item.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Title)
                @Html.TextBoxFor(m => m.Item.Title, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Description)
                @Html.TextBoxFor(m => m.Item.Description, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Manufacturer)
                @Html.TextBoxFor(m => m.Item.Manufacturer, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Price)
                @Html.TextBoxFor(m => m.Item.Price, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Category)
                @Html.DropDownListFor(m => m.Item.Category, new SelectList(Model.Categories), null, new { @class = "form-control", @style = "margin-left: auto;" })
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Item.Active, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-5">
                    <div class="form-check">
                        @Html.CheckBoxFor(m => m.Item.Active, new { @class = "form-check-input", style = "margin: auto; position: inherit;" })
                    </div>
                </div>
            </div>
        </div>

        // Aviv Change Here //

        <div class="form-group col-5" style="padding-bottom: 3%">
            <label class="control-label">Images</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file1" id="file1" aria-describedby="inputGroupFileAddon01" required>
                    <label class="custom-file-label" for="file1">Choose Primary Image</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon02">Image</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file2" id="file2" aria-describedby="inputGroupFileAddon01" required>
                    <label class="custom-file-label" for="file2">Choose 2nd Image</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon03">Image</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file3" id="file3" aria-describedby="inputGroupFileAddon01" required>
                    <label class="custom-file-label" for="file3">Choose 3rd Image</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
