@using GamingStore.Contracts
@model GamingStore.ViewModels.Items.CreateEditItemViewModel

@{
    ViewData["Title"] = "Edit Item";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Edit Order# @Model.Item.Id</strong>
            </div>
            <div class="card-body card-block">
                <div class="col">
                    <form asp-action="Edit" enctype="multipart/form-data" class="row">
                        @Html.HiddenFor(m => m.Item.Id)
                        <div class="col-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Item.Title" class="control-label"></label>
                                <input asp-for="Item.Title" class="form-control" required />
                                <span asp-validation-for="Item.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Item.Description" class="control-label"></label>
                                <input asp-for="Item.Description" class="form-control" required />
                                <span asp-validation-for="Item.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Item.Manufacturer" class="control-label"></label>
                                <input asp-for="Item.Manufacturer" class="form-control" required />
                                <span asp-validation-for="Item.Manufacturer" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.Price)
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                    @Html.TextBoxFor(m => m.Item.Price, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m=>m.Item.Price)
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Item.Category" class="control-label"></label>
                                <select class="form-control custom-select" asp-for="Item.Category" style="margin-left: auto;">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option class="form-control">@category</option>
                                    }
                                </select>
                                <span asp-validation-for="Item.Category" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Item.Active, new { @class = "col-sm-3 col-form-label" })
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(m => m.Item.Active, new { @class = "form-check-input", style = "margin: left;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-5" style="padding-bottom: 3%">
                            <label class="control-label">Images</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file1" id="file1" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="file1">Choose Primary Image</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon02">Image</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file2" id="file2" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="file2">Choose 2nd Image</label>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon03">Image</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="file3" id="file3" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="file3">Choose 3rd Image</label>
                                    </div>
                                </div>
                                <div class="input-group d-flex justify-content-center" style="margin-top: 10%;">
                                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
