@using GamingStore.Contracts
@using GamingStore.Extensions
@model GamingStore.ViewModels.GetItemsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/shop_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui-1.12.1.custom/dist/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- Shop Sidebar -->
                <div class="shop_sidebar" style="margin-left: 15%">
                    <div class="sidebar_section">
                        @{
                            string selectedCategory = Model.ItemsFilter.Category;
                            string selectedManufacture = Model.ItemsFilter.Manufacture;

                            var filterCategory = new ItemsFilter()
                            {
                                Manufacture = Model.ItemsFilter.Manufacture,
                                Category = Model.ItemsFilter.Category,
                                PriceMin = Model.ItemsFilter.PriceMin,
                                PriceMax = Model.ItemsFilter.PriceMax
                            };

                            var filterManufacture = new ItemsFilter()
                            {
                                Manufacture = Model.ItemsFilter.Manufacture,
                                Category = Model.ItemsFilter.Category,
                                PriceMin = Model.ItemsFilter.PriceMin,
                                PriceMax = Model.ItemsFilter.PriceMax
                            };
                        }
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            @foreach (Category category in Model.Categories)
                            {
                                <li>
                                    <span>
                                        @{
                                            filterCategory.Category = category.ToString();
                                            filterCategory.Manufacture = null;
                                        }
                                        @if (selectedCategory == category.ToString())
                                        {
                                            <strong>
                                                @Html.ActionLink(category.GetDisplayName(), "Index", "Items", filterCategory)
                                            </strong>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(category.GetDisplayName(), "Index", "Items", filterCategory)
                                        }
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                    <hr />

                    <div class="sidebar_section">
                        <div class="sidebar_title">Filter By</div>

                        <!-- Filter by price range -->
                        <div>
                            <div class="sidebar_subtitle">Price Range</div>

                            @using (Html.BeginForm("Index", "Items", FormMethod.Get, new { @class = "brands_list" }))
                            {
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    @Html.TextBox("PriceMin", null, new { maxlength = "9", placeholder = "Min", @class = "form-control form-control-sm col-3" })
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    @Html.TextBox("PriceMax", null, new { maxlength = "9", placeholder = "Max", @class = "form-control form-control-sm col-3" })
                                    @Html.Hidden("Category")
                                    @Html.Hidden("Manufacture")
                                    <input type="submit" value="Go" class="btn btn-light btn-sm" />
                                </div>
                            }
                        </div>

                        <!-- Filter by brands -->
                        <div>
                            @if (Model.Manufactures.Any())
                            {
                                <div class="sidebar_subtitle">Brands</div>
                                <ul class="brands_list">
                                    @foreach (var manufacture in Model.Manufactures)
                                    {
                                        <li>
                                            <span>
                                                @{
                                                    filterManufacture.Manufacture = manufacture;
                                                }
                                                @if (selectedManufacture == manufacture)
                                                {
                                                    <strong>
                                                        @Html.ActionLink(manufacture, "Index", "Items", filterManufacture)
                                                    </strong>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(manufacture, "Index", "Items", filterManufacture)
                                                }
                                            </span>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <!-- Shop Content -->
                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@Model.Items.Count()</span> products found</div>
                    </div>
                    <div class="product_grid">
                        @{
                            foreach (var item in Model.Items)
                            {
                                <!-- Product Item -->
                                <div class="product_item">
                                    <div class="product_image ">
                                        <a href="/Items/Details?id=@item.Id">  <img src="/@item.ImageUrl/1.jpg" alt=""></a>
                                    </div>
                                    <div class="product_content">
                                        <div class="product_price">@Html.DisplayFor(m => item.Price)</div>
                                        <div class="product_name">
                                            <a asp-action="Details" asp-route-id="@item.Id" tabindex="0" style="overflow-wrap: break-word">@item.Title</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
