@using GamingStore.Contracts
@using System.Text.RegularExpressions
@model IEnumerable<GamingStore.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/store_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <script>
        var storesObject = [];
    </script>
</head>

<div class="store_container">
    <div class="search-box ">               
        <form action="">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search by</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">City</a>
                        <a class="dropdown-item" href="#">Open Stores</a>
                        @*<div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated Category</a>*@
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Search input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <ul class="list-group store_list" id="storesList" role="tablist">
                    @{
                        foreach (var store in Model)
                        {
                            var isWarehouse = store.Name == "Warehouse" ? true : false;
                            <li class="list-group-item list-group-item-action" id="store_@store.Id" data-toggle="list" role="tab" aria-controls="store_@store.Id">
                                <div class="store_title">
                                    <h4>
                                        @{
                                            var storeName = store.Name.Replace("Store", "");
                                        }
                                        @Html.DisplayFor(modelItem => storeName)
                                    </h4>
                                </div>
                                <div class="store_detail store_address">
                                    @{
                                        var address = store.Address.ToString();
                                        <script>
                                            storesObject.push(["@address", "@storeName", "@isWarehouse".toLowerCase()]);
                                        </script>
                                    }
                                    @Html.DisplayFor(modelItem => address)
                                </div>
                                <div class="store_detail store_phonenumber">
                                    Phone:
                                    <a href="tel:@store.PhoneNumber">@Regex.Replace(store.PhoneNumber, @"(\d{3})(\d{3})(\d{4})", "+$1-$2-$3")</a>
                                </div>
                                <div class="store_detail store_email">
                                    Email:
                                    <a href="mailto:@store.Email">@store.Email </a>
                                </div>
                                <div class="store_detail">
                                    Opening Hours:
                                    <table class="opening_hours">
                                        <tr>
                                            @{
                                                foreach (var day in store.OpeningHours)
                                                {
                                                    <th> @day.DayOfWeek.ToString().Substring(0, 3)</th>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            @{
                                                foreach (var day in store.OpeningHours)
                                                {
                                                    <td>
                                                        <span>
                                                            @($"{day.OpeningTime:hh\\:mm}")
                                                        </span>
                                                        <span>
                                                            @($"{day.ClosingTime:hh\\:mm}")
                                                        </span>

                                                    </td>
                                                }
                                            }
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        }
                    }
                </ul>

            </div>
            <div class="col-lg-7">
                <div class="store_map" id="map"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*loads after all scripts are rendered like jQuery and scripts from _NewLayout https://stackoverflow.com/questions/37923853/how-to-use-jquery-in-asp-net-core/37923947*@
    <script type="text/javascript" src="/js/stores.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ8e0GNYL2ZJLC1g68-2-0Iv-yXGrZkAQ&callback=initMap" type="text/javascript"></script>
}