@model IEnumerable<GamingStore.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="store_section">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="store_container">
                <div class="store_title">Stores</div>
                <div class="store_items">
                    <ul class="store_list">
                        @foreach (Store store in Model)
                        {
                            <li class="store_li">
                                <div class="store">
                                    <div class="store_prop store_name">
                                        <span class="store_title">Name</span>
                                        <span class="store_text">@store.Name</span>
                                    </div>
                                    <div class="store_prop">
                                        <span class="store_title">Address</span>
                                        <span class="store_text">@store.Address</span>
                                    </div>
                                    <div class="store_prop">
                                        <span class="store_title">PhoneNumber</span>
                                        <span class="store_text">@store.PhoneNumber</span>
                                    </div>
                                    <div class="store_prop">
                                        <span class="store_title">Email</span>
                                        <span class="store_text">@store.Email</span>
                                    </div>
                                    <div class="store_prop">
                                        <span class="store_title">Address</span>
                                        <span class="store_text">@store.Address</span>
                                    </div>
                                   
                                </div>
                                <div class="store_proptable">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            @foreach (var openingHourDay in @store.OpeningHours)
                                            {
                                                <th>
                                                    @openingHourDay.DayOfWeek
                                                </th>
                                            }
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            @foreach (var openingHourDay in @store.OpeningHours)
                                            {
                                                <td>
                                                    @openingHourDay.OpeningTime - @openingHourDay.ClosingTime
                                                </td>
                                            }
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>