@model GamingStore.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart_responsive.css">
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/check_out.css">
    @using (Html.BeginForm("Create", "Orders", FormMethod.Post, null))
    {
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-50">
                            <h3>Shipping Address</h3>
                            <br>
                            <label><i class="fa fa-user"></i>Full Name</label>
                            @Html.TextBoxFor(m => m.ShippingAddress.FullName)
                            @Html.ValidationMessageFor(m => m.ShippingAddress.FullName)

                            <label><i class="fa"></i> Address</label>
                            @Html.TextBoxFor(m => m.ShippingAddress.Address1)
                            @Html.ValidationMessageFor(m => m.ShippingAddress.Address1)

                            <label><i class="fa"></i> City</label>
                            @Html.TextBoxFor(m => m.ShippingAddress.City)
                            @Html.ValidationMessageFor(m => m.ShippingAddress.City)
                            <div class="row">
                                <div class="col-50">
                                    <label>Country</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Country, new { disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.ShippingAddress.Country)
                                </div>
                                <div class="col-50">
                                    <label>Postal Code</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.PostalCode)
                                    @Html.ValidationMessageFor(m => m.ShippingAddress.PostalCode)
                                </div>
                            </div>
                        </div>
                        <div class="col-50">
                            <h3>Payment</h3>
                            <br>
                            <label for="cname">Name on Card</label>
                            @Html.TextBoxFor(m => m.CreditCard.OwnerName)
                            @Html.ValidationMessageFor(m => m.CreditCard.OwnerName)

                            <label for="ccnum">Credit card number</label>
                            @Html.TextBoxFor(m => m.CreditCard.Number)
                            @Html.ValidationMessageFor(m => m.CreditCard.Number)

                            <div class="row">
                                <div class="col-50">
                                    <label for="expmonth">Exp Month</label>
                                    @Html.TextBoxFor(m => m.CreditCard.ExpirationMonth)
                                    @Html.ValidationMessageFor(m => m.CreditCard.ExpirationMonth)

                                </div>
                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    @Html.TextBoxFor(m => m.CreditCard.ExpirationYear)
                                    @Html.ValidationMessageFor(m => m.CreditCard.ExpirationYear)
                                </div>
                            </div>

                            <label for="cvv">CVV</label>
                            @Html.TextBoxFor(m => m.CreditCard.CVV)
                            @Html.ValidationMessageFor(m => m.CreditCard.CVV)
                        </div>
                        <div class="col-50">
                            <br>
                            <h3>Shipping options</h3>
                            <fieldset>
                                <label>Choose a delivery option:</label>
                                <div data-isscheduleddelivery="0">
                                    @Html.RadioButtonFor(m => m.Payment.ShippingCost, "0")
                                    <span>
                                        <strong>Pickup</strong>
                                    </span>
                                    <br>
                                    <span>$0.00 -&nbsp;FREE&nbsp;</span>
                                </div>
                                <div data-isscheduleddelivery="0">
                                    @Html.RadioButtonFor(m => m.Payment.ShippingCost, "10")
                                    <span>
                                        <strong>
                                            Averages 7-10 business days
                                        </strong>
                                    </span>
                                    <br>
                                    <span>$10.00&nbsp;-&nbsp;Standard Shipping&nbsp;</span>
                                </div>
                                <div data-isscheduleddelivery="0">
                                    @Html.RadioButtonFor(m => m.Payment.ShippingCost, "45")
                                    <span>
                                        <strong>
                                            Averages 2-5 business days
                                        </strong>
                                    </span>
                                    <br>
                                    <span>$45.00&nbsp;-&nbsp;Express Shipping&nbsp;</span>
                                </div>
                            </fieldset>
                            @Html.ValidationMessageFor(m => m.Payment.ShippingCost)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <h3>
                        Cart
                        <span class="price" style="color: black">
                            <i class="fa fa-shopping-cart"></i>
                            @{
                                double count = Model.Cart.Aggregate(0, (current, itemsInCart) => current + itemsInCart.Quantity);
                                <b>@count</b>

                            }
                        </span>
                        <br>
                    </h3>
                    <span class="col-50" style="color: black">
                        <p>
                            @foreach (Cart cart in Model.Cart)
                            {
                                <span>@cart.Quantity x @cart.Item.Title.Substring(0, Math.Min(cart.Item.Title.Length, 27))</span>
                                <span class="price">@Html.DisplayFor(m => cart.Item.Price)</span>
                                <br>
                            }
                        </p>
                        <p>
                            <span>Shipping:</span><span class="price" id="shipping_amount">10.00</span><span class="price">$</span>
                        </p>

                        <!-- Order Total -->
                        <p>
                            <h4>
                                <hr class="solid">
                                @{
                                    <input type="hidden" id="items_cost" value="@Model.Payment.ItemsCost" />
                                    <span>Order Total:</span><span class="price" id="total_amount">@Html.DisplayFor(m => Model.Payment.Total)</span>
                                }
                            </h4>
                        </p>
                    </span>
                    <input type="submit" value="Place Order" class="btn btn-primary btn-lg btn-block">
                </div>
            </div>
        </div>
    }

    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("input:radio").on("change", function () {
                    var ic = parseFloat($('#items_cost').val());

                    if ($(this).val() == "0") {
                        $('#shipping_amount').text("0.00");
                        $('#total_amount').text('$' + ic.toFixed(2));
                    } else if ($(this).val() == "10") {
                        $('#shipping_amount').text("10.00");
                        $('#total_amount').text('$' + (ic + 10).toFixed(2));
                    } else if ($(this).val() == "45") {
                        $('#shipping_amount').text("45.00");
                        $('#total_amount').text('$' + (ic + 45).toFixed(2));
                    }
                });
            });
        </script>
    }
</body>