@using GamingStore.Contracts
@model GamingStore.ViewModels.EditOrdersViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Edit Order# @Model.Order.Id</h3>
<hr />
<div class="row">
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, new { @class = "col-10" }))
    {
        @Html.HiddenFor(m => m.Order.Id)
        @Html.HiddenFor(m => m.Order.CustomerId)
        @Html.HiddenFor(m => m.Order.PaymentId)

        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Customer, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBox("Customer", Model?.Order?.Customer?.UserName, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.State, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.DropDownListFor(m => m.Order.State, new SelectList(Enum.GetNames(typeof(OrderState))), null, new { @class = "form-control", style = "margin: auto;" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Payment.PaymentMethod, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.DropDownListFor(m => m.Order.Payment.PaymentMethod, new SelectList(Enum.GetNames(typeof(PaymentMethod))), null, new { @class = "form-control", style = "margin: auto;" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Payment.Paid, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.Order.Payment.Paid, new { @class = "form-check-input", style = "margin: auto; position: inherit;" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Payment.ItemsCost, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(m => m.Order.Payment.ItemsCost, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Payment.ShippingCost, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(m => m.Order.Payment.ShippingCost, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Order.Payment.Total, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(m => m.Order.Payment.Total, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div style="margin-top: 8%">
            <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 8%" />
        </div>
    }

</div>

<div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {

            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                //your existing code goes here to set the modal content
                //$("#error").html("First Name changed from Sam" );

                $('#ListofChanges').modal("show");
            });

            $("#btn-submit").click(function () {
                alert("going to submit other form");
                $("#btnSubmit").closest("form").submit();
            });
        });
    </script>
}
