@model List<GamingStore.ViewModels.UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}

<form method="post" >
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @foreach (var userRoleViewModel in Model)
            {

                <div class="form-check m-1">
                    <input type="hidden" asp-for="@userRoleViewModel.UserId" />
                    <input type="hidden" asp-for="@userRoleViewModel.UserName" />
                    <input asp-for="@userRoleViewModel.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@userRoleViewModel.IsSelected">
                        @userRoleViewModel.Email
                    </label>
                </div>
                /*if (!userRoleViewModel.IsSelected) //todo: fix model sent via HttpPost
                {
                    Model.Remove(userRoleViewModel);
                }*/
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" 
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>