@model GamingStore.ViewModels.Home.ContactViewModel


@{
    ViewData["Title"] = "Customer Service";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact_styles.css">
</head>
<body>
    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="d-flex flex-lg-row flex-column justify-content-between">

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_1.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+972 54 005 3570</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_2.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">gamingstore@gmail.com</div>
                            </div>
                        </div>

                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact_3.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Address</div>
                                <div class="contact_info_text">33 Eli Vizel, College of management, Rishon Leziyyon, IL, Israel</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_form_container">
                        <div class="contact_form_title">Get in Touch</div>

                        @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { role = "form" }))
                        {
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between">                                
                                @{
                                    var nameDisabled = "not disabled";
                                    var emailDisabled = "not disabled";

                                    if (string.IsNullOrWhiteSpace(Model.Mail.Name))
                                    {
                                        nameDisabled = "disabled";
                                    }

                                    if (string.IsNullOrWhiteSpace(Model.Mail.Email))
                                    {
                                        emailDisabled = "disabled";
                                    }

                                    @Html.TextBoxFor(m => m.Mail.Name, new { @placeholder = "Your name", @class = "input_field", disabled = nameDisabled})
                                    @Html.ValidationMessageFor(m => m.Mail.Name)

                                    @Html.TextBoxFor(m => m.Mail.Email, new { @placeholder = "Your email", @type = "email", @class = "input_field", disabled = emailDisabled })
                                    @Html.ValidationMessageFor(m => m.Mail.Email)
                                }
                                
                                @Html.TextBoxFor(m => m.Mail.PhoneNumber, new { @placeholder = "Your phone number", @class = "input_field" })
                                @Html.ValidationMessageFor(m => m.Mail.PhoneNumber)
                            </div>
                            <div>
                                @Html.TextAreaFor(m => m.Mail.Message, new { @placeholder = "Message (Must contains 5 letters and above)", @class = "text_field", @rows = "4" })
                                @Html.ValidationMessageFor(m => m.Mail.Message)
                            </div>
                            <div>
                                <input type="submit" value="Send Message" name="submit" class="button contact_submit_button">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>