@model GamingStore.ViewModels.OrderPlacedViewModel
@{
    ViewData["Title"] = "Thank You";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/thank_you.css">
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="single_post" style="margin-top: 70px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-2">
                            <div class="a-box a-alert a-alert-success" id="SFID260">
                                <div class="a-box-inner a-alert-container" id="SFID261">
                                    <i class="a-icon a-icon-alert" id="SFID262"></i>
                                    <div class="a-alert-content" id="SFID263">
                                        <div class="a-row" id="SFID264">
                                            <div class="a-column a-span7" id="SFID265">
                                                <style type="text/css" id="SFID266">
                                                    .subHeadingAndMobileWidgetDisplay {
                                                        display: none;
                                                        margin-top: 0px !important;
                                                    }
                                                </style>

                                                @{
                                                    if (Model == null)
                                                    {
                                                        <h2 class="a-color-success" id="SFID269">Order creation has been failed, contact support at gamingstore@gmail.com</h2>
                                                    }
                                                    else
                                                    {
                                                        <div id="widget-purchaseConfirmationStatus" class="a-section a-spacing-micro">
                                                            <div cel_widget_id="typ-purchaseConfirmationStatus" class="celwidget" data-csa-c-id="i80x0l-uq0257-qjaspv-fhtogd" id="SFID268" data-cel-widget="typ-purchaseConfirmationStatus">
                                                                <h2 class="a-color-success" id="SFID269">
                                                                    Thank you, your order has been placed.
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div id="widget-purchaseConfirmationReview-hidden" class="a-section a-spacing-none">
                                                            <div cel_widget_id="typ-purchaseConfirmationReview" class="celwidget" data-csa-c-id="88tr47-q4gisb-igamt9-9577g8" id="SFID279" data-cel-widget="typ-purchaseConfirmationReview">
                                                                <p id="subHeadingAndMobileWidget" class="a-spacing-base subHeadingAndMobileWidgetDisplay" style="display: block;">
                                                                    <span id="SFID281">Please check your email for order confirmation and detailed delivery information.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div cel_widget_id="purchase-summary" class="celwidget" data-csa-c-id="a1u1ty-1rqnmf-urexra-druk6p" id="SFID285" data-cel-widget="purchase-summary">

                                                            <div>
                                                                <span>
                                                                    <strong>
                                                                        @{
                                                                            double count = Model.ItemsCount;
                                                                            <b>@count items will be delivered to: </b>
                                                                        }
                                                                    </strong>
                                                                    <br>
                                                                </span>
                                                                <span>
                                                                    @Model.ShippingAddress.FullName
                                                                </span><br>

                                                                <span>
                                                                    @Model.ShippingAddress.Address1

                                                                </span><br>
                                                                <span>@Model.ShippingAddress.City , @Model.ShippingAddress.PostalCode </span><br>
                                                                <span>@Model.ShippingAddress.Country</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="a-column a-span5 a-span-last" id="SFID323">
                                                <div cel_widget_id="typ-desktop-right-upsell-slot" class="celwidget" data-csa-c-id="ilhs0z-i2rqgv-d36j6v-f3j642" id="SFID324" data-cel-widget="typ-desktop-right-upsell-slot">
                                                    <div id="prime-pda-type-box-ad" cel_widget_id="typ-desktop-upsell-PIV-widget" class="celwidget" data-csa-c-id="2ua2if-op5bbu-w4l9ab-puqcq7" data-cel-widget="typ-desktop-upsell-PIV-widget">

                                                        <div id="SFID327">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>