@model GamingStore.ViewModels.Administration.ListItemsViewModel

@{
    ViewData["Title"] = "Admin Items";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Items">Create a New Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PropertiesList)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertiesList)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Items" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Items" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Details" asp-controller="Items" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

