@using System.Linq
@model GamingStore.ViewModels.Administration.ListOrdersViewModel

@{
    ViewData["Title"] = "Admin Items";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Orders</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().Customer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().Store)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.First().Payment.Total)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Store)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Payment.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Orders" asp-route-id="@order.Id">Edit</a>
                <a asp-action="Delete" asp-controller="Orders" asp-route-id="@order.Id">Delete</a>
                <a asp-action="Details" asp-controller="Orders" asp-route-id="@order.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>