@using GamingStore.Contracts
@model IEnumerable<GamingStore.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/shop_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/shop_styles.css">
</head>
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            @foreach (var category in Enum.GetNames(typeof(Category)))
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Items" asp-route-category="@category">@Html.DisplayFor(e => category)</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <!-- Shop Content -->
                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@Model.Count()</span> products found</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;original-order&quot; }">highest rated</li>
                                        <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;name&quot; }">name</li>
                                        <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;price&quot; }">price</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product_grid">
                        @{
                            foreach (var item in Model)
                            {
                                <!-- Product Item -->
                                <div class="product_item">
                                    <div class="product_image ">
                                        <img src="/@item.ImageUrl/1.jpg" alt="">
                                    </div>
                                    <div class="product_content">
                                        <div class="product_price">$@item.Price</div>
                                        <div class="product_name">
                                            <a asp-action="Details" asp-route-id="@item.Id" tabindex="0" style="overflow-wrap: break-word">@item.Title</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- Shop Page Navigation -->
                </div>
            </div>
        </div>
    </div>
</div>
