@using GamingStore.Contracts
@model IEnumerable<GamingStore.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/shop_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/shop_styles.css">
</head>
<body>
    <div class="shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <!-- Shop Sidebar -->
                    <div class="shop_sidebar">
                        <div class="sidebar_section">
                            <div class="sidebar_title">Categories</div>
                            <ul class="sidebar_categories">
                                @foreach (var category in Enum.GetNames(typeof(Category)))
                                {
                                    <li><a asp-action="Index" asp-controller="Items" asp-route-category="@category">@Html.DisplayFor(e => category)</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <!-- Shop Content -->
                    <div class="shop_content">
                        <div class="shop_bar clearfix">
                            <div class="shop_product_count"><span>@Model.Count()</span> products found</div>
                            <div class="shop_sorting">
                                <span>Sort by:</span>
                                <ul>
                                    <li>
                                        <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
                                        <ul>
                                            <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;original-order&quot; }">highest rated</li>
                                            <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;name&quot; }">name</li>
                                            <li class="shop_sorting_button" data-isotope-option="{ &quot;sortBy&quot;: &quot;price&quot; }">price</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_grid" style="position: relative; height: 1012px;">
                            <div class="product_grid_border"></div>

                            @{
                                var leftPosition = 177;
                                var topPosition = 253;
                                var counterLeft = 0;
                                var counterTop = 0;
                                var roundTop = 0;
                                int finalLeft = 0;
                                int finalTop = 0;
                                string left = string.Empty;
                                string top = string.Empty;
                                foreach (var item in Model)
                                {
                                    if (counterLeft == 5)
                                    {
                                        counterLeft = 0;
                                    }
                                    if (roundTop == 5)
                                    {
                                        counterTop++;
                                    }
                                    finalLeft = leftPosition * counterLeft;
                                    finalTop = topPosition * counterTop;
                                    left = $"{finalLeft}px";
                                    top = $"{finalTop}px";
                                    <!-- Product Item -->
                                    <div class="product_item is_new" style="position: absolute; left: @left; top: @top;">
                                        <div class="product_border"></div>
                                        <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="@item.ImageUrl" alt=""></div>
                                        <div class="product_content">
                                            <div class="product_price">$@item.Price</div>
                                            <div class="product_name"><a asp-action="Details" asp-route-id="@item.Id" tabindex="0" style="overflow-wrap: break-word">@item.Title</a></div>
                                        </div>
                                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                                        <ul class="product_marks">
                                            <li class="product_mark product_discount">-25%</li>
                                            <li class="product_mark product_new">new</li>
                                        </ul>
                                    </div>
                                    counterLeft++;
                                    roundTop++;
                                }
                            }
                        </div>

                        <!-- Shop Page Navigation -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>