@using GamingStore.Contracts
@model GamingStore.ViewModels.GetItemsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/shop_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/shop_styles.css">
</head>
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        @{
                            var selectedCategory = Model.ItemsFilter.Category;
                            var selectedManufacture = Model.ItemsFilter.Manufacture;
                            var selectedPrices = Model.ItemsFilter.PriceRange;

                            var filterCategory = new ItemsFilter()
                            {
                                Manufacture = Model.ItemsFilter.Manufacture,
                                Category = Model.ItemsFilter.Category,
                                PriceRange = Model.ItemsFilter.PriceRange
                            };

                            var filterManufacture = new ItemsFilter()
                            {
                                Manufacture = Model.ItemsFilter.Manufacture,
                                Category = Model.ItemsFilter.Category,
                                PriceRange = Model.ItemsFilter.PriceRange
                            };

                            var filterPrices = new ItemsFilter()
                            {
                                Manufacture = Model.ItemsFilter.Manufacture,
                                Category = Model.ItemsFilter.Category,
                                PriceRange = Model.ItemsFilter.PriceRange
                            };

                        } 
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <span>
                                        @{
                                            filterCategory.Category = category.ToString();
                                            filterCategory.Manufacture = null;
                                        }
                                        @if (selectedCategory == category.ToString())
                                        {
                                            <strong>
                                                @Html.ActionLink(category.ToString(), "Index", "Items", filterCategory)
                                            </strong>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(category.ToString(), "Index", "Items", filterCategory)
                                        }
                                    </span>
                                </li>
                            }

                            <li>
                                @*<a asp-action="Index" asp-controller="Items" asp-route-category="@category">@Html.DisplayFor(e => category)</a>*@
                            </li>

                        </ul>
                        @if (Model.Manufactures.Any())
                        {
                            <hr/>
                            <div class="sidebar_title">Brand</div>
                        }
                        <ul class="sidebar_categories">
                            @foreach (var manufacture in Model.Manufactures)
                            {
                                <li>
                                    <span>
                                        @{
                                            filterManufacture.Manufacture = manufacture;
                                        }
                                        @if (selectedManufacture == manufacture)
                                        {
                                            <strong>
                                                @Html.ActionLink(manufacture, "Index", "Items", filterManufacture)
                                            </strong>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(manufacture, "Index", "Items", filterManufacture)
                                        }
                                    </span>
                                </li>
                            }
                        </ul>
                        <hr/>
                        <div class="sidebar_title">Price Range</div>
                        <ul class="sidebar_categories">
                            <li>
                                0-25
                            </li>
                            <li>
                                26-50
                            </li>
                            <li>
                                51-100
                            </li>
                            <li>
                                100+
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <!-- Shop Content -->
                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@Model.Items.Count()</span> products found</div>
                    </div>
                    <div class="product_grid">
                        @{
                            foreach (var item in Model.Items)
                            {
                                <!-- Product Item -->
                                <div class="product_item">
                                    <div class="product_image ">
                                        <img src="/@item.ImageUrl/1.jpg" alt="">
                                    </div>
                                    <div class="product_content">
                                        <div class="product_price">@Html.DisplayFor(m => item.Price)</div>
                                        <div class="product_name">
                                            <a asp-action="Details" asp-route-id="@item.Id" tabindex="0" style="overflow-wrap: break-word">@item.Title</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
