@model GamingStore.Models.Store

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Edit Order# @Model.Id</h3>
<hr />
<div class="row">
    @using (Html.BeginForm("Edit", "Stores", FormMethod.Post, new { @class = "col-10" }))
    {
        @*@Html.HiddenFor(m => m.Id)*@

        <div class="form-group row">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(s => s.Name, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Address.Address1, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-5">
                    <div class="form-check">
                        @Html.TextBoxFor(s => s.Address.Address1, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Address.City, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-5">
                    <div class="form-check">
                        @Html.TextBoxFor(s => s.Address.City, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Address.PostalCode, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-5">
                    <div class="form-check">
                        @Html.TextBoxFor(s => s.Address.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Address.Country, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-5">
                    <div class="form-check">
                        @Html.TextBoxFor(s => s.Address.Country, new { @class = "form-control" ,@disabled="disabled" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(s => s.PhoneNumber, new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.TextBoxFor(s => s.Email, new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Active, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.Active, new { @class = "form-check-input", style = "margin: auto; position: inherit;" })
                </div>
            </div>
        </div>
        <div style="margin-top: 8%">
            <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 8%" />
        </div>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
